@import "~src/assets/styles/components/variables";
@import "~src/assets/styles/components/mixins";

.delete {
  &-card {
    &-wrapper {
      background: $white;
      @include border-radius($radius-6);

      h6 {
        font-size: 1.5rem;
        margin: 0;
      }
    }
    &-button {
      display: flex;
      justify-content: space-between;
    }
  }
}
