<div class="delete-card-wrapper">
  <div class="modal-header">
    <h6>Edit Event</h6>
    <button type="button" class="btn-close" aria-label="Close" (click)="onCancel()"></button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this event?</p>
    <p>If deleted, it will not be able to recover.</p>
    <div class="delete-card-button">
      <button class="btn btn-danger" (click)="deleteHandler()"> Delete</button>
      <button type="button" class="btn btn-gray" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </div>
</div>
