@import '../components/variables';

html, body {
  font-family: 'Lato', serif;
  background-color: $bg-color;
  min-height: 100%;
  font-size: 100%;
}

.btn {
    padding: 7px 1.25rem !important;
  &.btn-orange {
    transition: all .3s;
    background-color: $deep-orange-3;
    border-color: $deep-orange-3;
    color: $white !important;
    &:hover {
      transform: translateY(-2px);
    }
  }
  &.btn-gray {
    transition: all .3s;
    background-color: $gray;
    border-color: $gray;
    color: $white !important;
    &:hover {
      transform: translateY(-2px);
    }
  }
}

.modal-body {
  padding: 1rem 2rem 2rem 2rem !important;
}
