/*#region ============ color ========== */
$black: #000000;
$white: #ffffff;

$bg-color: #FAFAFA;
$text-color: #4f5964;
$border-color: #d8d9da;
$green-1: #59b53b;
$green-2: #eff8ec;
$green-border: #c2d1be;
$navy-blue: #032541;
$light-blue: rgb(1, 180, 228);

$radius: 24px;

//breakpoint
$breakpoint-mobile: "only screen and (max-width : 575px)";
$breakpoint-tablet: "only screen and (max-width: 767px)";
$breakpoint-l-desktop: "only screen and (max-width: 992px)";
$breakpoint-xl-desktop: "only screen and (max-width: 1200px)";

$breakpoint-min-ultra-screen: "only screen and (min-width: 1200px)";
$breakpoint-min-xl-desktop: "only screen and (min-width: 1024px)";
$breakpoint-min-l-desktop: "only screen and (min-width: 992px)";
$breakpoint-min-l-tablet: "only screen and (min-width: 768px)";



