/*#region ============ color ========== */
$black: #000000;
$white: #ffffff;
$error: #F38C09;

$bg-color: #FAFAFA;
$text-color: #4f5964;
$border-color: #d8d9da;
$green-1: #59b53b;
$green-2: #eff8ec;
$green-label: #79b067;

$green-border: #c2d1be;


$grey-3: #8E8E8E;

$deep-orange-1: #F38C09;
$deep-orange-2: #F5A53F;
$deep-orange-3: #F7B25B;
$deep-orange-4: #FCE5C8;
$deep-orange-5: #FDF2E3;


$radius: 2px;
$radius-3: 3px;
$radius-6: 6px;
$radius-50: 50%;

//breakpoint
$breakpoint-mobile: "only screen and (max-width : 575px)";
$breakpoint-tablet: "only screen and (max-width: 767px)";
$breakpoint-l-desktop: "only screen and (max-width: 992px)";
$breakpoint-xl-desktop: "only screen and (max-width: 1200px)";

$breakpoint-min-ultra-screen: "only screen and (min-width: 1200px)";
$breakpoint-min-xl-desktop: "only screen and (min-width: 1024px)";
$breakpoint-min-l-desktop: "only screen and (min-width: 992px)";
$breakpoint-min-l-tablet: "only screen and (min-width: 768px)";



