@import "src/assets/styles/components/variables";
@import "src/assets/styles/components/mixins";

.flex-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $border-color;
  @media #{$breakpoint-desktop}{
    width: 900px;
    flex: 1 0 100%;
  }
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.calendar {
  overflow: hidden;

  &-header {
    border-bottom: 1px solid $border-color;
    background-color: #f3f4f5;
    color: $text-color;
    min-height: 4em;
    align-items: center;

    &-week {
      flex: 0 1 calc(100% - 250px);
      max-width: calc(100% - 250px);
      display: flex;
      margin-left: -100px;
    }
  }

  .calendar-row {
    &:nth-child(2) {
      .cell-label {
        height: 110px;
        @media #{$breakpoint-desktop} {
          height: 95px;
        }
      }
    }
  }

  &-filter {
    display: flex;
    flex: 0 1 210px;
    max-width: 210px;
    position: relative;
    z-index: 2;

    select {
      padding: 0.35rem;
      margin-left: 7%;
      width: 88%;
    }

    option {
      line-height: 1rem;
    }
    @media #{$breakpoint-desktop} {
      flex: 0 1 185px;
      max-width: 185px;
    }
  }

  .arrow-icon {
    color: #787883;
    margin: 0 1rem;
    padding: 0 1em;
    min-height: 3em;
    @include border-radius($radius);
    transition: background-color .2s, color .2s, border .2s;
    border: 1px solid rgba(120, 120, 131, 1%);
    background-color: rgb(120 120 131 / 5%);

    &:hover {
      //border-color: #7878834d;
      border-color: rgb(120 120 131 / 30%);
      background-color: rgb(120 120 131 / 30%);
    }
  }

  &-week {
    font-weight: bold;
    font-size: 1.5rem;
    @media #{$breakpoint-desktop} {
      font-size: 1.25rem;
    }
  }

  .cell-calendar {
    position: relative;
    min-width: 0;
    color: $text-color;
    background-color: $white;
    //overflow: hidden;
    padding: 1.2em 0 0.2em;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1 1 100%;

    &:nth-child(odd) {
      background-color: rgb(243 244 245 / 40%);
    }

    .name-day {
      //font-size: .8em;
      margin-bottom: 0.2em;
      font-weight: bold;
    }

    .name-date {
      font-size: 1.8em;
      width: 3em;
      height: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.1em 0 0.2em;
      font-weight: bold;
      @media #{$breakpoint-desktop} {
        font-size: 1.5rem;
      }
    }

    .note-label {
      @include border-radius($radius-3);
      background-color: $green-label;
      font-size: 0.75rem;
      padding: 2px 3px;
      color: $white;
    }

  }

  .cell-label {
    height: 150px;
    padding: 0.2em 0 0.2em;
    background-color: #f3f4f5;
    border-right: 1px solid $border-color;
    font-size: 1.2rem;

    &:first-child {
      flex: 1 1 80% !important;
      width: 80%;
      @media #{$breakpoint-desktop} {
        width: 100px !important;
        flex: 1 0 100px !important;
        font-size: 0.875rem;
      }
    }

    @media #{$breakpoint-xl-desktop} {
      height: 120px;
    }
    @media #{$breakpoint-desktop} {
      height: 100px;
    }
  }

  @media #{$breakpoint-desktop}{
    overflow-x: auto;
    width: 900px;
    max-width: 100%;
    flex: 1 0 100%;

    .cell-calendar {
      width: 160px !important;
      flex: 1 0 160px !important;
    }
  }
}

.note-cart {
  width: calc(100% - 15px);
  position: absolute;
  height: 100%;

  &-container {
    border: 1px solid $green-border;
    border-left: 2px solid $green-1;
    background-color: $green-2;
    flex-direction: column;
    height: 135px;
    padding: 0.5em;
    display: flex;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      @include box-shadow-general();
      transform: translateY(-2px);
    }

    @media #{$breakpoint-xl-desktop} {
      height: 95px;
    }
    @media #{$breakpoint-desktop} {
      padding: 0.5em 0.25em;
      height: 90px;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    .badge {
      @include border-radius($radius-50);
      background-color: $green-1;
      justify-content: center;
      align-items: center;
      display: inline-flex;
      width: 1.7rem;
      height: 1.7rem;
      color: $white;
      margin-right: 0.5rem;
      font-size: 0.875rem;
      @media #{$breakpoint-desktop} {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.25rem;
        font-size: 0.75rem;
        padding: 0
      }
    }

    .note-title {
      font-weight: bold;
      color: #606060;
      @media #{$breakpoint-l-desktop} {
        font-size: 0.875rem;
      }
      @media #{$breakpoint-desktop} {
        font-size: 0.725rem;
      }
    }

    @media #{$breakpoint-xl-desktop} {
      justify-content: flex-start;
      .note-label {
        display: none;
      }
    }
  }

  &-desc {
    p {
      @include limited-text(2);
      padding-bottom: 1px;
      margin-bottom: 0;
    }

    @media #{$breakpoint-l-desktop} {
      font-size: 0.875rem;
    }
  }

  &-date {
    margin-top: 0.5rem;
    @media #{$breakpoint-xl-desktop} {
      display: none;
      ~ p {
        display: none;
      }
    }
  }
}

@for $i from 1 through 5 {
  .multi_#{$i} {
    width: calc(#{$i} * 100% - 15px);
    z-index: ($i * 2) !important;
  }
}
