@import "~src/assets/styles/components/variables";
@import "~src/assets/styles/components/mixins";

.edit {
  &-card {
    &-wrapper {
      background: $white;
      padding: 2rem 2.5rem;
      @include border-radius($radius);

      h6 {
        font-size: 2rem;
        margin: 0;
      }
    }

    &-form {
      margin-top: 1rem;
    }
    &-textarea {
      height: 85px;
      margin-bottom: 1rem;
    }

    &-date{
      margin-bottom: 1.5rem;
    }
  }
}

.btn-calendar {
  border: 1px solid $border-color;
  transition: all .3s;
  color: $text-color;
  padding: 3px 12px;

  &:hover {
    border-color: $deep-orange-1;
    color: $deep-orange-1;
  }
}
