<div class="edit-card-wrapper">
  <div class="modal-header">
    <h6>Edit Event</h6>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="editFormSubmit()" [formGroup]="editForm" class="edit-card-form form-wrapper">
      <div class="edit-card-textarea">
        <label for="cardDescription"> <span>Summery</span></label>
        <textarea [ngClass]="{'border-error' : (editForm.hasError('maxLength', 'cardDescription')) }"
                  id="cardDescription"
                  class="textarea-control"
                  formControlName="cardDescription"
                  maxlength="251"
                  placeholder="Summery"></textarea>

        <div class="error-place">
          <div *ngIf="((editForm.controls['cardDescription'].dirty || editForm.controls['cardDescription'].touched))">
            <p class="errorMessage" *ngIf="editForm.hasError('maxlength', 'cardDescription')">
              <i class="fa fa-exclamation-circle"></i>
              Up to 250 characters are allowed.
            </p>
          </div>
        </div>
      </div>
      <div class="edit-card-date">
        <label for="startDatePicker"> <span>Start Date</span></label>
        <div class="input-group">
          <input #dp="ngbDatepicker"
                 id="startDatePicker"
                 class="form-control"
                 formControlName="startDatePicker"
                 name="startDatePicker"
                 ngbDatepicker
                 placeholder="yyyy-mm-dd">
          <button (click)="dp.toggle()" class="btn btn-calendar" type="button">
            <i class="fa-solid fa-calendar-days"></i>
          </button>
        </div>
      </div>
      <div class="edit-card-date">
        <label for="endDatePicker"> <span>End Date</span></label>
        <div class="input-group">
          <input #de="ngbDatepicker"
                 id="endDatePicker"
                 class="form-control"
                 formControlName="endDatePicker"
                 name="endDatePicker"
                 [minDate]="editForm.value.startDatePicker"
                 ngbDatepicker
                 placeholder="yyyy-mm-dd">
          <button (click)="de.toggle()" class="btn btn-calendar" type="button">
            <i class="fa-solid fa-calendar-days"></i>
          </button>
          <!--<div class="error-place">
            <div *ngIf="(editForm.controls['endDatePicker'].dirty && editForm.value.startDatePicker >  editForm.value.endDatePicker   )">
              <p class="errorMessage">
                <i class="fa fa-exclamation-circle"></i>
               Noo
              </p>
            </div>
          </div>-->
        </div>
      </div>
      <div class="edit-card-button">
        <button
          [disabled]="!editForm.valid ||  (!editForm.value.cardDescription  && !editForm.value.startDatePicker)"
          class="btn btn-orange w-100" type="submit">Submit
        </button>
      </div>

      <!--      <pre>{{!editForm.value.cardDescription  && !editForm.value.datePicker  }}</pre>-->
      <!--      <p>{{editForm.value.cardDescription!== '' }}</p>-->
      <!--      <p>{{editForm.value.cardDescription}}</p>-->
      <!--      <p>{{editForm.value.datePicker}}</p>-->
      <!--&lt;!&ndash;      <pre>{{formDisabled  }}</pre>&ndash;&gt;-->
      <!--      <pre>{{editForm.value.datePicker }}</pre>-->
            <pre>{{editForm.valid  | json}}</pre>
      <!--&lt;!&ndash;      <pre>{{editForm.controls.datePicker.errors |  json}}</pre>&ndash;&gt;-->
    </form>
  </div>
</div>

