@import "~src/assets/styles/components/variables";
@import "~src/assets/styles/components/mixins";

.edit {
  &-card {
    &-wrapper {
      background: $white;
      //padding: 2rem 2.5rem;
      @include border-radius($radius-6);

      h6 {
        font-size: 1.5rem;
        margin: 0;
      }
    }

    &-form {
      margin-top: 0.5rem;
    }

    &-textarea {
      margin-bottom: 1.25rem;

      textarea {
        height: 80px;
      }
    }

    &-date {
      margin-bottom: 1.25rem;
    }
  }
}

.btn-calendar {
  border: 1px solid $border-color;
  transition: all .3s;
  color: $text-color;
  padding: 3px 12px;

  &:hover {
    border-color: $deep-orange-1;
    color: $deep-orange-1;
  }
}
